<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="{{site.og.title}}" />
    <meta property="og:type" content="{{site.og.type}}" />
    <meta property="og:url" content="{{site.og.url}}" />
    <meta property="og:image" content="{{site.og.image}}" />
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="/css/styles.css">